html, body, #container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Roboto;
}

body {
  background-color: #ecf0f1;
}
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

#color-panel {
  height: 5%;
}

#content-panel {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.row {
  margin: 0px;
}

.red {
  background-color: #EC644B;
}

.orange {
  background-color: #F5AB35;
}

.orange2 {
  background-color: #F89406;
}

.green {
  background-color: #3FC380;
}

.blue {
  background-color: #59ABE3;
}

.brown {
  background-color: #A38F84;
}
