html, body, #container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Sukhumwit;
}

::-webkit-scrollbar {
    display: none;
}

body {
  color: #6C7A89;
  background-image: url('../assets/img/bg3.png');
  background-size: 100% 100%;
  /*background-color: #ecf0f1;*/
}

input[type="text"] {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

#color-panel {
  height: 60%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

#content-panel {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.row {
  margin: 0px;
}

.red {
  background-color: #EC644B;
}

.orange {
  background-color: #E67E22;
}

.yellow {
  background-color: #F9BF3B;
}

.green {
  background-color: #3FC380;
}

.blue {
  background-color: #59ABE3;
}

.brown {
  background-color: #795548;
}

.red-feed {
  background-color: rgba(236,100,75,0.9);
}

.orange-feed {
  background-color: rgba(230,126,34,0.9);
}

.yellow-feed {
  background-color: rgba(249,191,59,0.9);
}

.green-feed {
  background-color: rgba(63,195,128,0.9);
}

.blue-feed {
  background-color: rgba(89,171,227,0.9);
}

.brown-feed {
  background-color: rgba(121,85,72,0.9);
}

.center {
  text-align: center;
}

.filter {
  width: 100%;
}

.filter-item-wrapper {
  padding: 0 1em;
}

.filter-item {
  font-weight: 300;
  font-size: 20px;
  border-radius: 6px;
  margin-top: 10px;
  background-color: rgba(255,255,255,0.05);
  border: 2px solid rgba(255,255,255,0.9);
  color: white;
  position: relative;
  padding: 0 1em;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.filter-item:hover {
  background-color: #1abc9c;
  color: white;
}

#filter-wrapper {
  height: 300px;
  overflow-y: auto;
}

.thin {
  font-weight: 300;
}

.filter-item-name {
  position: absolute;
  margin-right: 1em;
  right: 0;
}

#confirm-panel {
  font-weight: 300;
  color: white;
  justify-content: center;
  font-size: 30px;
  padding: 30px;
  transition: 0.5s;
}

.button {
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  background-color: transparent;
  border: solid 2px;
  border-radius: 4px;
  border-color: white;
  color: white;
  transition: 0.5s;
}

.button:hover {
  background-color: #1abc9c;
}

.white {
  color: white;
  border-color: white;
}

.feed-item {
  position: static;
  border-radius: 5px;
  border: solid 2px;
  border-color: white;
  text-align: center;
  padding: 10px;
}

#feed-panel {
  font-weight: 300;
  position: absolute;
  overflow-x: hidden;
  right: 0;
  top: 0;
  color: white;
  margin-right: 10px;
  width: 170px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.feed-wrapper {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.flex-center-x {
  display: flex !important;
  justify-content: center !important;
}

.flex-center-y {
  display: flex !important;
  align-items: center !important;
}

.plus-one-span {
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
}

#header-panel {
  position: absolute;
  top: 0;
  color: white;
  font-size: 40px;
}

.divider {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  height: 1px;
  background-color: white;
}
